@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #a25e5d;
  --color-secondary: #3c1071;
  --color-terciary: #bcccc2;
  --color-bg: #f8efea;
  --color-text-dark: #1e1e1e;

  --font-title: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--color-primary);
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p,
span {
  font-family: var(--font-body);
}
